<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Ubicación</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Información</h5>
                <ul>
                    <li><a class="white-text" href="#!">Quienes somos</a></li>
                    <li><a class="white-text" href="#!">Galería</a></li>
                    <li><a class="white-text" href="#!">Contacto</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Redes</h5>
                <ul>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Youtube</a></li>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Whastapp</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="green-text text-lighten-3" href="https://dvlance.com">Dvlance</a>
        </div>
    </div>
</footer>